.aboutContainer{
    width: 100%;
    height: 450px;
    background-image: url(../images/aboutwolfimg.jpg);
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    background-blend-mode: darken; /* Blend the background color and image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

padding-top: 20px;
}

 .aboutHeading{
    color: white;
    
  ;
    margin-bottom: 20px;
} 

.aboutmainText{
    width: 80%;
    color: white;
    font-size: 20px;
    font-style: italic;
}

.aboutbodyContainer{
    width: 100%;
    
}

.aboutbodyHeader{
   color: #4B7F52;
   font-weight: bold;
   font-size: 30px;
width: 100%;

text-align: center;
margin: 25px;

}

.aboutbodyContent{
    padding: 5px;
    font-size: 18px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.aboutbodyText{
    width: 600px;
   
   
}
.paragraph-spaced {
    margin-bottom: 30px; 
  }
.aboutbodyImage{
    background-image: url(../images/8efe2146363d742f28af03658acc0104.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 500px;
    height: 700px;
    border: dashed 5px #EDD9A3;
}

.aboutbodyFlex{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    
}